<link href="~/Content/StartPage.css" rel="stylesheet" />
<script src="~/Scripts/MainPage.js"></script>
@{
    ViewBag.Title = "Start page";
}

<h2>Start page</h2>
<div class="dropdown">
    <button class="dropbtn">Read blogs by categories</button>
    <div class="dropdown-content" id="CategoryListBlog">
        
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Read posts by categories</button>
    <div class="dropdown-content" id="CategoryListPost">

    </div>
</div>
<div id="BlogsList">

</div>
<div id="PostsList"></div>
